{% extends 'base.html.twig' %}

{% block title %}Bok{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Status</th>
            <th>Read</th>
        </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.subject }}</td>
                <td>{{ application.comment }}</td>
                <td>{{ application.dateAdd|date }}</td>
                <td>{{ application.status }}</td>
                {% if application.isRead %}
                    <td>yes</td>
                {% else %}
                    <td>false</td>
                {% endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}